.chat{
    background-color:skyblue;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 10px;
      }
      .chat iframe {
       border-radius: 10px;
      }
      .chat { 
        background-color:#383838; 
         }
            